<div class="bubble-capture">
  <div id="one" {{action 'clicked' 'one'}}>
    1.
    <div id="two" {{action 'clicked' 'two'}}>
      2.
      <div id="three" {{action 'clicked' 'three'}}>
        3. Wow
      </div>
    </div>
  </div>
</div>

<!--
<div class="bubble-capture">
  <div id="one" onclick="console.log('onclick one')">
    <div id="two" onclick="console.log('onclick two')">
      <div id="three" onclick="console.log('onclick three')">
        Wow
      </div>
    </div>
  </div>
</div>
-->
<!--
<div class="bubble-capture">
  <div id="one" onclick={{action 'clicked' 'one'}}>
    <div id="two" onclick={{action 'clicked' 'two'}}>
      <div id="three" onclick={{action 'clicked' 'three'}}>
        Wow
      </div>
    </div>
  </div>
</div>
-->
